
//----------------------fonts---------------------
$fonts: 'Roboto', sans-serif
//---------------------end-fonts---------------------

//----------------------color---------------------
$accent: #FFD700
$text: #000000
$bglight: #cccccc
$bgdark: #666666
//---------------------end-color---------------------

body
	overflow-x: hidden
	position: relative
	min-width: 320px
	font-family: $fonts
	font-size: 16px
	color: $text
	line-height: 1.4
	font-weight: 400
	min-height: 100vh
	display: flex
	flex-direction: column

p
	margin: 0
	padding: 0

